name: Build and Push Docker Images (manual)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: syscc
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build and push latest
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/386,linux/arm/v7,linux/amd64,linux/arm64
          push: true
          tags: |
            syscc/go-emby:latest
